---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Ge Zhang</h1>
			<p class="subtext editable">I am an undergraduate student at <a href="https://www.pku.edu.cn"> Peking University</a>. I started my career as a researcher working in the field of mining from unstructured data while an intern at <a href="http://www.shannonai.com">ShannonAI</a>. I started working remotely with <a href="http://timalthoff.com">Prof. Tim Althoff</a> 2019 summer, developing algorithms to assist robust data science.  </p>
			<!-- <div class="cta button alt"><a href="#">Join Now</a></div> -->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">About Me</h2>
				<p class="editable">I am an undergraduate student at <a href="https://www.pku.edu.cn"> Peking University</a>. I started my career as a researcher working in the field of mining from unstructured data while an intern at <a href="http://www.shannonai.com">ShannonAI</a>. I started working remotely with <a href="http://timalthoff.com">Prof. Tim Althoff</a> 2019 summer, developing algorithms to assist robust data science.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Research Interests</h2>
				<p class="editable">code representation learning</p>
				<p class="editable">AI for data science</p>
				<p class="editable">Robust data science</p>
				<p class="editable">Multiverse data science</p>

			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Publications</h2>
				<p class="editable">LOP-OCR: A Language-Oriented Pipeline for Large-chunk Text OCR
					<i>Zijun Sun*, <b> Ge Zhang*</b>, Junxu Lu, <a href="https://nlp.stanford.edu/~bdlijiwei/">Jiwei Li</a> </i>
					<a href="https://nlp.stanford.edu/~bdlijiwei/">preprint</a></p>


			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<!-- <div class="cta button alt"><a href="#">Join Now</a></div> -->
			</div>
		</div>
	</section>
</div>
