---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Ge Zhang</h1>
			<p class="subtext editable">An undergraduate student at Peking University. <br>
			A research intern at University of Washington. <br>
			Food lover & photographer. </p>


			<!-- <div class="cta button alt"><a href="#">Join Now</a></div> -->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">About Me</h2>
				<p class="editable">I am an undergraduate student at <a href="https://www.pku.edu.cn"> Peking University</a>(will graduate July 2021). I started my career as a researcher working in the field of data mining while an intern at <a href="http://www.shannonai.com">ShannonAI</a>. I'm now working remotely with <a href="http://timalthoff.com">Prof. Tim Althoff</a> 2019 summer, developing algorithms to assist robust data science. I am especially interested in building tools for analyzing large-scale computational notebooks to improve replication and transparency.</p>
			</div>
			<div class="image">
				<!-- <img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" /> -->
				<img class="editable" src="https://tva1.sinaimg.cn/large/0082zybply1gbyedgwbx6j30i2104wgx.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Research Interests</h2>
				<p class="editable">Code representation learning</p>
				<p class="editable">Artificial intelligence for data science</p>
				<p class="editable">Replication in data science</p>
				<p class="editable">Graph Neural Network</p>
				<p class="editable">Natural language processing</p>

			</div>
			<div class="image">
				<img class="editable" src="https://tva1.sinaimg.cn/large/0082zybply1gbyefj7nhhj30i2104n1x.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Publications</h2>
				<p class="editable">LOP-OCR: A Language-Oriented Pipeline for Large-chunk Text OCR <br>
					<i>Zijun Sun*, <b> <a href="https://gezhangrp.com/">Ge Zhang*</a> </b>, Junxu Lu, <a href="https://nlp.stanford.edu/~bdlijiwei/">Jiwei Li</a> </i> <br>
					<a href="https://gezhangrp.com/OCR.pdf">preprint</a></p>
				<p class="editable">CORAL: COde RepresentAtion Learning with Weakly-Supervised Transformers for Analyzing Data Analysis <br>
					<i> Anonymous Author(s) </i> <br>
					under submission to SIGKDD 2020</p>


			</div>
			<div class="image">
				<img class="editable" src="https://tva1.sinaimg.cn/large/0082zybply1gbyefy7mwoj30i21040w0.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable"> Actively looking for PhD positions!</h2>
				<p class="subtext editable"> </p>
				<!-- <div class="cta button alt"><a href="#">Join Now</a></div> -->
			</div>
		</div>
	</section>
</div>
